@charset "UTF-8";
/* CSS Document */

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

#free-agents {
  float:right;
  margin-left:5px;
  width:30%;
}
#team-list {
  float:left;
  margin:0 5px 5px 0;
  width:20%;
}
#team-list form label {
  display: block;
  margin:5px 0;
}
#wrapper {
  position:relative;
  width:70%;
  left:0;
  top:0;
}
#headerDiv, #mainDiv {
  clear:left;
  position:relative;
  right:0px; /* gutter width */
  width:auto;
}

.draftapp-panel {
  overflow: hidden;
  position: relative;
  display: block;
  padding: .2em;
  outline: 0;
}
.draftapp-panel .draftapp-panel-titlebar, .draftapp-panel .draftapp-panel-subtitlebar {
  padding: .4em 1em;
  position: relative;
}
.draftapp-panel .draftapp-panel-subtitlebar {
  width:auto;
  color:inherit;
  text-align:center;
  background: #d0e5f5 url("redmond/images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
  margin:0.5em 0;
  border: 1px solid #c5dbec;
  font-weight:bold;
}
.draftapp-panel .draftapp-panel-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.draftapp-panel .draftapp-panel-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

.draftapp-panel-content p {
  margin:0.25em 0 0.75em 0;
}

.draftapp-dashboard-teamname {
  font-weight:bold;
  margin:0 0.5em;
}

.draftapp-progressbar {
  position: relative;
}
.draftapp-progress-label  {
  position: absolute;
  top: 4px;
  left:0;
  width:100%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  text-align:center;
}
.draftapp-progressbar .ui-progressbar-value {
  background: #d0e5f5 url("redmond/images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
}

.draftapp-panel-content table {
  width: 100%;
}
.draftapp-panel-content table th, .draftapp-panel-content table td {
  padding:0 1em;
  vertical-align:middle;
  height:2.5em;
}
.draftapp-panel-content table tbody tr {
  border-top: 1px solid #d0e5f5;
}
.draftapp-panel-content th .ui-icon {
  display: inline-block;
  position: relative;
  top: 0.25em;
  margin-right: 0.25em;
}
.draftapp-panel-content table .l {
  text-align:left;
}
.draftapp-panel-content table .r {
  text-align:right;
}

tr.odd {
  background-color:#dfeffc;
}


.draftapp-freeagents-positions {
  text-align:center;
}

