@charset "UTF-8";
/* CSS Document */

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
display: block;
}

#mainDiv {
width: 960px;
background-color: #f3f2f5;
margin-left:auto;
margin-right:auto;
position:relative;
}

header {
height:50px;
	padding: 10px;
	background-color: #c8c7ca;
}

nav {
width:960px;
}

#leftCol {
float: left;
width:600px;
	padding: 20px;
	background-color: #e2e2e2;
}

#rightcol {
float: left;
width: 280px;
background-color: #d0d0d0;
padding: 20px;
}

footer {
clear:both;
height: 10px;
background-color: #c3c3c3;
	padding: 10px;
}


.draftapp-panel {
  overflow: hidden;
  position: relative;
  display: block;
  padding: .2em;
  outline: 0;
}
.draftapp-panel .draftapp-panel-titlebar {
  padding: .4em 1em;
  position: relative;
}
.draftapp-panel .draftapp-panel-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.draftapp-panel .draftapp-panel-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

#team-list {
  float:left;
  margin:0 5px 5px 0;
  width:20%;
}

#team-list form label {
  display: block;
  margin:5px 0;
}

.draftapp-panel-content p {
  margin:0.25em 0 0.75em 0;
}

.draftapp-dashboard-teamname {
  font-weight:bold;
  margin:0 0.5em;
}

.draftapp-progressbar {
  position: relative;
}
.draftapp-progress-label  {
  position: absolute;
  top: 4px;
  left:0;
  width:100%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  text-align:center;
}
.draftapp-progressbar .ui-progressbar-value {
  background: #dfeffc url("css/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
}